#product-overview {
  /* background: url("freedom.jpg"); */
  background-size: cover;
  background: linear-gradient(120deg, pink 30%, skyblue 70%, lightgreen 94%);
  /* background-image: url("./freedom.jpg"), url("./plans-background.jpg"), */
  /* linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)); */
  /* background-repeat: no-repeat; */
  /* background-position: bottom right, left, right; */
  /* background-position: left 10% bottom 30%; */
  /* border: 5px black solid; */
  height: 1000px;
}

.section-title {
  color: #2ddf5c;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 40%;
}

/* h1 {
    font-family: sans-serif;
} */

/* 
.nav__item a:active {
  color: #ffff;
} */

#plans {
  text-align: center;
}

/* .plans-lists {
  vertical-align: baseline;
} */

.plans-list {
  display: inline-block;
  background: #e1f5f2;
  padding: 25px 16px;
  width: 20%;
  margin: 0px 8px;
  vertical-align: middle;
}

.plans-list h2 {
  color: #aaa492;
}
.plans-list__ul li {
  text-decoration: none;
}

.recommended__plan {
  background: #4e9f3d;
  color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.recommended__plan_h1 {
  background: #ffff;
  padding: 8px 16px;
  color: #0e4f1f;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plans-list__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-list__ul li {
  margin: 8px 0px;
}

.plans-choose {
  padding: 8px 0px;
}

.plans-price {
  color: #ccc;
}

.button {
  background: #0e4f1f;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1.5px solid #0e4f1f;
  color: white;
  font-size: 17px;
  font: inherit;
  font-weight: bold;
}

.button:hover,
.button:active {
  background: #ffff;
  color: #0e4f1f;
}

.recommended__plan .plans-price {
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.core-features {
  margin-top: 50px;
  height: 400px;
  background-color: #ff1b68;
}

.core-feature__title {
  padding: 30px 0px;
  text-align: center;
  font: inherit;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.core-features__lists {
  text-align: center;
  list-style: none;
}

.core-features__list {
  display: inline-block;
  width: 30%;
}

.core-features__list p {
  font: inherit;
  font-size: 28px;
  font-weight: bold;
  color: #ffff;
}

.core-feature__sphere {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: auto;
  background-color: pink;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
